# Ignore contents of specific directories but keep the directories themselves
# Use trailing slash to match directory, and wildcard to match all files

# Models weights and artifacts
models/*
!models/.gitkeep

# Checkpoints and training artifacts
checkpoints/*
!checkpoints/.gitkeep